.header_logo {
    height: 70px;
    margin: 15px 45px;
}


.nav_bar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: bisque;

}

.nav_bar ul{
    height: 100px;
    display: flex;
    gap: 50px;
    align-items: center;

    margin-right: 45px;
}

.navLink {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
