.header_logo {
    height: 70%;
    margin: 15% 45px;
}


.nav_bar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar ul{
    height: 100px;
    display: flex;
    gap: 50px;
    align-items: center;

    margin-right: 45px;
}

.navLink {
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
















/* --------------------RESPONSIE DESIGN --------------------- */


@media only screen and (max-width: 950px) {

    .header_logo {
        height: max-content;
        width: 60%;
        margin: 10px 10px 15px 10px;
    }

    .nav_bar {
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .nav_bar ul{
        height: min-content;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 15px 0;
        row-gap: 15px;
    }

}