.navContainer {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 50;

    background-color: rgba(237, 239, 238, 0.85);
    backdrop-filter: blur(3px);

    transition: all 0.3s linear;
}

.navContainer.show {
    opacity: 1;
}

.navContainer.hide {
    opacity: 0;
    pointer-events: none;

}

.navMenu {
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 40px;
}



.logoContainer.hide {
    z-index: -10;
    pointer-events: none;
}

.navLogo {
    height: 70%;
    margin: 0 20px 0 50px;
}

.navLogo.hide {
    z-index: -10;
    pointer-events: none;
}

.linkContainer {
    height: 100%;
    text-decoration: none;
}

.linkContainer.hide {
    z-index: -10;
    pointer-events: none;
}

.SCMenuIcon {
    display: none;

}

.SCMenuIcon img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 50;
}

.SCMenu,
.SClinkContainer {
    display: none;
}

/* --------------------RESPONSIE DESIGN --------------------- */


@media only screen and (max-width: 985px) {

    .navContainer {
        height: 60px;
    }
}



@media only screen and (max-width: 795px) {

    .linkContainer {
        display: none;
    }

    .navMenu {
        display: none;
    }

    .navLogo {
        margin-left: 20px;
        height: 80%;
    }

    .SCMenuIcon {
        display: block;

        height: 30px;
        width: 30px;
        overflow: hidden;

        margin-right: 15px;

        border-color: black;
        border-radius: 5px;

        cursor: pointer;
        z-index: 50;

        transition: all 0.3s linear;

    }

    .SCMenuIcon.show {
        opacity: 1;
    }

    .SCMenuIcon.hide {
        opacity: 0;
    }

    .SCMenu {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: max-content;

        position: fixed;
        top: 60px;
        right: -250px;

        z-index: 50;

        border-top-left-radius: 10px;

        border-bottom-left-radius: 10px;
        overflow: hidden;

        will-change: transform, opacity;

        background-color: rgba(237, 239, 238, 0.85);
        backdrop-filter: blur(3px);

        transition: all 0.3s linear;

    }

    .SCMenu.hide {
        opacity: 0;
        transform: translateX(0);
    }

    .SCMenu.show {
        opacity: 1;
        transform: translateX(-250px);
    }

    .SClinkContainer {
        display: block;
        width: 100%;
        text-decoration: none;

        height: 40px;

        border-radius: 5px;

    }
}

@media only screen and (max-width: 500px) {

    .navContainer {
        height: 50px;
    }

    .SCMenu {
        top: 50px;
    }

    .SCMenuIcon {
        height: 28px;
        width: 28px;
    }
}