.card {
    width: 280px;
    height: 410px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;

    background-color: #EDEFEE;
    box-shadow: 3px 3px 15px rgba(0,0,0, 0.3);

}

.card_image {
    height: 45%;
}
.card_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.card_tittle {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

.price {
    color: #495E57;
}


.card > p {
    margin: 5px 15px;
    line-height: 1.35;

}

.button_card {
    position: absolute;
    left: 10px;
    bottom: 13px;
}



















/* --------------------RESPONSIE DESIGN --------------------- */


@media only screen and (max-width: 950px) {

    .card {
        width: 265px;
        height: 400px;
    }

    .card_tittle {
        margin: 5px 10px;
    }

    .card > p {
        line-height: 1.3;
    }

}


@media only screen and (max-width: 600px) {

    .card {
        width: 240px;
        height: 340px;
    }

    .card_tittle {
        margin: 5px 10px;
    }

    .card_tittle h3 {
        font-size: 18px;
    }

    .card > p {
        margin: 5px 10px;
        font-size: 14px;
    }

}