footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #EDEFEE;
}

.footer_logo {
    width: 18%;
    align-self: center;
}

.contact {
    width: 18%;
    padding: 20px 0;

}

.contact > div {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer_icon {
    height: 30px;
}

.social_media {
    width: 18%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px 0;
}

.social_media_links {
    display: flex;
    justify-content: flex-start;
    gap: 5px;

    padding-top: 10px;
}












/* --------------------RESPONSIE DESIGN --------------------- */

@media only screen and (max-width: 925px) {

    .footer_logo {
        display: none;
    }

    .contact {
        width: 45%;
    }

    .social_media {
        width: 21%;
    }

}
@media only screen and (max-width: 600px) {

    footer {
        padding: 0px 10px;
    }


    footer h3 {
        font-size: 16px;
    }

    footer p {
        font-size: 14px;
    }

    .footer_icon {
        height: 15px;
    }

    .contact {
        padding: 10px 0;
    }

    .contact > div {
        padding-top: 5px;
    }

    .social_media {
        padding: 10px 0;
        align-items: center;
    }
}


@media only screen and (max-width: 435px) {

    .contact {
        width: 65%;
    }

    .social_media {
        width: 30%;
    }

}