.conf_booking {
    width: 100%;
    display: flex;
    justify-content: center;

}

.book_conf {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_conf img {
    height: 40px;
}






.dinner_details {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 16px;
    padding: 20px 0;
    margin: 10px
}

.dinner_details h2 {
    margin-bottom: 20px;
    color: #F4CE14;
}

.dinner_details h3 {
    color: #ffffff;
}

.reserve_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    column-gap: 80px;

}

.reserve_info div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.reserve_info img {
    width: 25px;
}

.back_button {
    margin: 25px 0 10px 0;
}






/* --------------------RESPONSIE DESIGN --------------------- */


@media only screen and (max-width: 600px) {

    .conf_booking {
        flex-direction: column;
        align-items: center;
    }

    
.book_conf {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    background-color: #EDEFEE;

}

.book_conf img {
    height: 30px;
}

.book_conf h1 {
    font-size: 40px;
}







.dinner_details {
    width: 100%;
    border-radius: 0px;
    padding: 20px 0;
    margin: 0px
}

.reserve_info {
    gap: 25px;
    column-gap: 40px;
}



}