
.section1 {
    background-color: #495E57;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    padding: 20px 0;

}

.section1 > article {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section1 h1 {
    color: #F4CE14;
}

.section1 h2, .section1 h3 {
    color: #FFFFFF;
}

.button1 {
    align-self: center;
    margin-top: 20px;
}


.section1 img {
    width: 400px;
    border-radius: 16px;
}



















.section2 > h1, .section3 > h1 {
    width: 100%;
    padding: 40px 0 5px 0;
    text-align: center;
}

.cards {
    overflow-x: auto;
}

/* width */
.cards::-webkit-scrollbar {
    height: 15px;
  }

  /* Track */
  .cards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  /* Handle */
  .cards::-webkit-scrollbar-thumb {
    background-color: #EE9972;
    border-radius: 10px;
  }


.cards > div {
    width: 1550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 25px 25px 25px;
}
















.section3 {
    background-color: #495E57;
    margin-top: 10px;
}

.section3 > h1 {
    color: #ffffff;
}

.section3 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 120px;
    margin: 0 10px 0 10px;
    flex-wrap: wrap;

}















.section4 {
    display: flex;
    width: 100%;
}

.sec4_text, .sec4_images {
    width: 50%;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec4_text {
    gap: 5px;
    padding: 0px 40px;
}

.section4 > div > div {
    display: flex;
    height: 220px;
    width: 90%;
    gap: 3%;
    margin-top: 15px;
}

.section4 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    box-shadow: 3px 3px 15px rgba(0,0,0, 0.3);
}

.sec4_img1 {
    width: 66%;
}

.sec4_img2 {
    width: 34%;
}

.sec4_img3 {
    width: 47%;
}

.sec4_img4 {
    width: 50%;
}

























/* --------------------RESPONSIE DESIGN --------------------- */

@media only screen and (max-width: 950px) {

    .section1 {
        gap: 15px;
    }
    .section1 > article {
        width: 300px;
    }

    .section1 img {
        width: 42%;
    }

    .cards > div {
        width: 1500px;
    }

    
.section3 > div {
    gap: 10px;
}
}

@media only screen and (max-width: 740px) {
    .section1 {
        padding: 15px 10px;
        gap: 4px;
    }

    .section1 > article {
        width: 50%;
        gap: 0px;
    }

    .section1 h1 {
        font-size: 45px;
    }

    .section1 h2 {
        font-size: 30px;
    }

    .section1 h3 {
        font-size: 16px;
    }

    .button1 {
        margin-top: 10px;
    }

    .section1 img {
        width: 42%;
    }














    .section2 > h1, .section3 > h1, .sec4_text > h1 {

        padding: 15px 0 5px 0;
        font-size: 45px;

    }


    .cards > div {
        padding: 5px 15px 15px 15px;
    }








    .section3 > div {
        padding-bottom: 40px;
    }













    .section4 {
        display: flex;
        width: 100%;
    }


    .sec4_images , .sec4_images > div > div {
        display: none;
    }

    .sec4_text {
        width: 100%;
        height: max-content;
        gap: 5px;
        padding: 25px 20px;
    }
}



@media only screen and (max-width: 600px) {
    .cards > div {
        width: 1350px;
    }
}




@media only screen and (max-width: 415px) {

    .section1 {
        padding: 15px 3px;
    }

    .section1 h1 {
        font-size: 35px;
    }

    .section1 h2 {
        font-size: 28px;
    }

    .section1 h3 {
        font-size: 14px;
        line-height: 1.2;
    }


    .section1 img {
        width: 42%;
    }











}