.booking {
    width: 100%;
    position: relative;
}

.booking > img {
    width: 100%;
}

.booking_card {
    width: 40%;
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 30%;
    top: 50px;
    background-color: rgba(237,239,238, 0.95);
    box-shadow: 3px 3px 15px rgba(0,0,0, 0.3);

    border-radius: 16px;

}

.booking_card h1 {
    margin: auto;
}











/* --------------------RESPONSIE DESIGN --------------------- */


@media only screen and (max-width: 600px) {
    .booking {
        display: flex;
        flex-direction: column;
        position: static;
    }

    .booking_card {
        position: static;
        width: 100%;
        background-color: #ffffff;
        box-shadow: none;
        border-radius: 0px;
    }


}